<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Restful Tasks API</h1>
</div>
<h2>All the tasks:</h2>
<button (click)="tasksFromService()" >Get All Tasks</button>

<ul>
  <li *ngFor = "let task of tasks"> {{task["title"]}}: {{task["description"]}} <button (click)="oneTask(task._id)">Show</button></li>
</ul>
<app-tasks *ngIf="selectedTask"[taskToShow]="selectedTask"></app-tasks>

<div class="single_task">
<h5 *ngIf= "showTask['title']"> {{showTask.title}}</h5>
<p *ngIf= "showTask['description']"> {{showTask.description}}
  <button (click)="editTask(showTask._id)">Edit</button>
  <button (click)="deleteTask(showTask._id)">Delete</button>
</p>
</div>

<h2>Create a New Task</h2>
<form (submit) = "addTask()">

  Task Title:<input type="text" name="newTask.title" [(ngModel)]= "newTask.title" />
  Task Description:<input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
  <input type="submit" value="Create Task" />
</form>

 <h3>Edit a Task</h3>
<form (submit)="editTask(showTask['_id'])">
  Task Title:
  <input type="text" name="showTask.title" [(ngModel)]="showTask.title" value="{{showTask.title}}" /> Task Description:
  <input type="text" name="showTask.description" [(ngModel)]="showTask.description" value="{{showTask.description}}" />
  <input type="submit" value="Edit Task" />
</form>



