<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Restful Tasks API</h1>
</div>
<h2>All the tasks:</h2>
<button (click)="tasksFromService()" >Get All Tasks</button>
<ul>
  <li *ngFor = "let task of tasks"> {{task["title"]}}: {{task["description"]}} <button (click)="oneTask(task._id)">Show</button></li>
</ul>
<h5 *ngIf= "showTask['title']"> {{showTask.title}}</h5>
<p *ngIf= "showTask['description']"> {{showTask.description}}</p>
<form (submit) = "onSubmit('create')">
  <p> {{ newTask | json }}</p>
  Task Title:<input type="text" name="newTask.title" [(ngModel)]= "newTask.title" />
  Task Description:<input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
  <input type="submit" value="Create Task" />
</form>


